
<div class="row">
	<h4 id="title"></h4>
</div>

<div class="row">
	<div class="nine columns">
		<p id="textBoard"  style="border: 2px solid #eee; min-height: 50px;"></p>
		<form id="msgForm" onsubmit="socketObject.sendMessage(); return false;">
		<!-- ;return false is a hack to prevent the form from refreshing the page -->
			<div class="row">
				<div class="twelve columns">
					<label for="msgText">Message</label>
					 <textarea class="u-full-width" placeholder="Tell the world your Yadda" id="msgText"></textarea>
				</div>
			</div>
			<input class="button-primary" type="submit" value="Submit">
		</form>
	</div>
	<aside class="three columns">
		<div class= "clearfix" style="border: 2px solid #eee; min-height: 170px;">
			<header>Yaddas:</header>
		</div>
	</aside>
</div>

<br/>
  <script type="text/javascript">
	var socketObject = {
	    socket: null,
	    //http://localhost:8888/dan/room
	    room: window.location.pathname.split('/')[2],
	    start: function() {
	        var url = "ws://localhost:8888/chatws/"+ socketObject.room
	        console.log(url)
	        socketObject.socket = new WebSocket(url)
	       	socketObject.socket.onmessage = function(event) {
            	socketObject.showMessage(event)
        	}
			
			var roomName = document.createElement("h4")
			roomName.innerHTML = 'In room: ' + socketObject.room
			document.getElementById("title").appendChild(roomName)
		},
		showMessage: function(msg){
			console.log(msg)
			msgData = JSON.parse(msg.data)
			var newMsgElement = document.createElement("div")
			newMsgElement.innerHTML = msgData.userId + ': ' + msgData.msgText
			document.getElementById("textBoard").appendChild(newMsgElement)
		},
		sendMessage: function(){
		  var msg = {
		    type: "message",
		    // userId: document.getElementById("userId").value,
		    room: socketObject.room,
		    msgText: document.getElementById("msgText").value,
		  };
		  socketObject.socket.send(JSON.stringify(msg))
		  document.getElementById('msgText').value = '';
		}
	};
	
	socketObject.start()

  </script>
